<h2>Template Basicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar(f)" 
           #f="ngForm"
           autocomplete="off">
      <!-- campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            ngModel
            name="producto"
            type="text"
            class="form-control"
            placeholder="Nombre del producto"
            required
            minlength="3">
          <span *ngIf="f.controls" class="form-text text-danger">Deben ser mas de 3 letras</span>
        </div>
      </div>

      <!-- campo de precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            ngModel
            name="precio"
            type="number"
            class="form-control"
            placeholder="Precio del producto"
            required=""
            min="0">
        </div>
      </div>

      <!-- campo de existencia de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            ngModel
            name="existencia"
            type="number"
            class="form-control"
            min="0"
            placeholder="Existencias del producto"/>
        </div>
      </div>

     <div class="row">
        <div class="col">
            <button type="submit"
                    class="btn btn-primary float-end">
                    Guardar
            </button>
        </div>
     </div>


    </form>
  </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ f.valid}}</pre>  
    </div>

    <div class="col">
        <span>Value</span>
        <pre>{{ f.value | json}}</pre>  
    </div>
</div>
